@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="index-content">
    <h1 class="report-issues-heading">Privacy Policy and User Guide</h1>

    <div class="privacy-content">
        <p>
            This page must explain in depth that a user does not have to sign-up or log in to report issues in the area but if a user wants to earn data points they must register with only their phone-number.
        </p>
        <p>
            Next, this page should also explain how the points system works and what users can do to earn points and how much per task.
        </p>
        <p>
            Also touch on how the user information is just storing the cellphone number and that each user submission is private.
        </p>
    </div>
</div>